<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boredream.springbootdemo.mapper.DiaryMapper">
    <resultMap id="Diary" type="com.boredream.springbootdemo.entity.Diary">
        <id property="id" column="id" />
        <result property="content" column="content" />
        <result property="diaryDate" column="diary_date" />
        <result property="images" column="images" />
        <association property="user" javaType="com.boredream.springbootdemo.entity.User">
            <id property="id" column="id" />
            <result property="nickname" column="nickname" />
            <result property="avatar" column="avatar" />
        </association>
    </resultMap>

    <select id="queryByPage" resultMap="Diary">
        SELECT * FROM diary INNER JOIN user ON diary.user_id = user.id
    </select>
</mapper>