<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boredream.springbootdemo.mapper.TodoGroupMapper">
    <select id="getTodoGroupListWithCount" resultType="com.boredream.springbootdemo.entity.TodoGroup">
        select id, user_id, name, create_time, update_time,
        (select count(*) from todo where todo.todo_group_id = todo_group.id and done = 1) as progress,
        (select count(*) from todo where todo.todo_group_id = todo_group.id) as total
        from todo_group ${ew.customSqlSegment}
    </select>

</mapper>